body {
    background-image:url(bgm.png);
    height:500%;
    background-position:left;
    background-repeat:repeat;
    background-size:cover;
}
p{
  color:white;
  font-family:monospace;
  text-align:center;
  text-shadow:2px 2px black;
  font-size:35px;
  
}

h1{
  color:white;
  font-family:monospace;
  text-align:center;
  text-shadow:2px 2px black;
}

img{
  border-radius:8px;
  display: block;
  border:5px solid black;
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width:60%;
}

iframe{
  border-radius:8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#back{
  float:left;
  color:black;
  text-shadow:2px 2px white;
}

